<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestão de vinhos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/vinhos" routerLinkActive="active">Listagem de vinhos<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/cadastro-vinho" routerLinkActive="active">Cadastro de vinhos<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<div class="body container">
  <notificacao></notificacao>
  <router-outlet></router-outlet>
</div>